/*
	Theme Name: Rehub child theme
	Theme URI: https://wpsoul.com
	Description: A Hybrid magazine/shop/review/news Wordpress Theme
	Author: Sizam
	Author URI: https://wpsoul.com
	Version: 9.4
	Template: rehub-theme
*/

/* =Theme customization starts here
-------------------------------------------------------------- */
/* Header */
.search-form-inheader.main-nav.mob-logo-enabled.dark_style {
    padding: 20px 0px 10px;
}
.search-form-inheader ul li a {
    font-weight: 400 !important;
}
.celldisplay.link-add-cell.search_icon {
    background: #E0E0E0;
    border-radius: 5px;
    margin-left: -10px;
    cursor: pointer;
}
.celldisplay.link-add-cell.search_icon i {
    font-size: 18px;
    font-weight: bold;
}
.theader_search {
    position: absolute;
    right: 0;
    display: none;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    top: 100%;
    z-index: 9999999;
    border-top: 4px solid #ff823a;
    transition: all 0.5s ease;
    padding: 15px;
    text-align: center;
}
.theader_search .nice-select.rh_woo_drop_cat.rhhidden.rhniceselect {
    width: 140px;
}
.header_seven_style .search{
    max-width: 710px;
}
nav.top_header_menu {
    text-align: center;
}
.top_header_menu ul li {
    display: inline-block;
}
.top_header_menu ul li a {
    color: #000000;
    font-size: 16px;
    padding: 0px 20px;
}

/* Header */
/* Banner */
.home_banner {
    background: linear-gradient(
90deg
, #004AC8 0%, #0076D0 28.29%, #00BCDD 77.2%, #00D8E2 100.01%);
}
.home_banner p {
    margin-bottom: 0px;
}
.banner_search .custom_search_box {
    box-shadow: 0px 4px 21px rgb(0 0 0 / 6%);
    border-radius: 7px;
    padding: 10px !important;
    display: inline-block;
    background-color: white;
}
.banner_search .custom_search_box input.re-ajax-search {
    border: 0px !important;
    font-size: 14px !important;
    color: rgb(0 0 0 / 50%);
    background-color: #ffffff !important;
}
.banner_search .custom_search_box button[type="submit"] {
    background: linear-gradient(
279.93deg
, #FF0444 0%, #FFA507 112.16%);
    border-radius: 8px;
    font-weight: 500 !important;
    font-size: 14px !important;
}
/* Banner */


.departments_section p {
    margin-bottom: 0px;
}
.sub_head p img {
    margin-right: 5px;
}
.sub_head {
    margin-bottom: 10px !important;
}
.sub_head p {
    margin-bottom: 0px !important;
}
.departments_section figure.mb15 {
    position: unset !important;
}
.departments_section .grid_row_info {
    padding-top: 13px !important;
}
.departments_section .aff_tag img {
    max-width: inherit !important;
}
.departments_section .price_for_grid {
    float: right;
    color: #000000;
}
.departments_section .price_for_grid span {
    font-size: 24px !important;
}
.departments_section .vendor_for_grid {
    float: left;
}
.departments_section .offer_grid h3 {
    font-size: 18px !important;
    line-height: 26px;
    height: 55px;
    margin-bottom: 12px !important;
}
.departments_section .offer_grid h3::before{
    display: none !important;
}
.departments_section .aff_tag img {
    max-width: inherit !important;
}
.departments_section .woocommerce .col_item .rh_woo_star span {
    font-size: 30px !important;
}
.departments_section .woocommerce .rh_woo_star .active, .departments_section .woocommerce .wc-layered-nav-rating .star-rating .rhwoostar.active {
    color: #FFC444 !important;
}
.departments_section .woocommerce .rh_woo_star .halfactive{
    background: linear-gradient(to right, #ffc444 0%, #ffc444 50%, #e0dadf 51%, #e0dadf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.departments_section 
 .re_actions_for_grid {
    position: unset !important;
    margin-top: 15px;
    border: 0px;
}

.departments_section 
 .offer_act_enabled.col_item {
    padding-bottom: 39px;
}
.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(1) {
    position: absolute;
    top: 15px;
    right: 15px;
    width: auto;
    background: transparent !important;
}

.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(1) span.thumbscount {
    display: none;
}

.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(1) span.heartplus {
    font-size: 22px !important;
}
.departments_section .re_ajax_pagination {
    display: none;
}

.info_in_dealgrid 
 span.grid_onsale {
    page-break-after: left;
    left: 15px !important;
    right: auto;
    background-color: #E22B32;
    border-radius: 2px;
    font-size: 12px !important;
    top: 20px;
}

.info_in_dealgrid figure.mb15 {
    margin-top: 32px !important;
    margin-bottom: 30px !important;
}
.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(2) {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    background-color: transparent !important;
}

.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(2) span.comparelabel {
    display: inline-block;
}

.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(2) span.wpsm-button {
    display: inline-block;
    padding: 10px 20px;
    border: 0.5px solid #FF1E3B;
    color: #FF1E3B;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    background-color: transparent !important;
}

.departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(2) i {
    display: inline-block;
    margin-right: 5px;
    
}

.works_box .elementor-widget-icon-box .elementor-icon-box-wrapper {
    text-align: left;
}
.works_box .elementor-icon-box-icon {
    margin-bottom: 5px !important;
}
.works_box h3 {
    margin-bottom: 10px;
}

.newsletter_sec .elementor-form-fields-wrapper.elementor-labels- {
    box-shadow: 0px 4px 21px rgb(0 0 0 / 6%);
    border-radius: 7px;
    padding: 10px !important;
    background-color: white;
    width: 100%;
}
.newsletter_sec .elementor-field-group {
    margin-bottom: 0px !important;
}
.newsletter_sec #form-field-email {
    border: 0px !important;
    outline: none !important;
}
.newsletter_sec button {
    background: linear-gradient(
279.93deg
, #FF0444 0%, #FFA507 112.16%);
    border-radius: 8px !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 131.84%;
    color: rgb(255 255 255 / 90%);
    text-transform: capitalize !important;
    padding: 15px 20px !important;
}   
#footer li a {
    padding: 0px;
    line-height: 30px;
}

@media only screen and (max-width: 900px) {
    .home_banner .elementor-element-a78c6e6 {
        position: relative !important;
        width: 100% !important;
        max-width: 100% !important;
        top: auto !important;
        text-align: center !important;
        right: auto !important;
    }
}
@media only screen and (max-width: 580px) {
    .departments_section .re_actions_for_grid .btn_act_for_grid:nth-child(1) {
        left: auto !important;
        right: auto !important;
    }
}