/* Promobox
================================================== */
.wpsm_promobox { background: none repeat scroll 0 0 #f8f8f8; padding: 15px 25px; clear: both; margin: 15px 0; position: relative; overflow: auto; color: #333; }
.wpsm_promobox .title_promobox { font-size: 18px; line-height: 20px; margin: 7px 0; }
.wpsm_promobox p { font-size: 14px; margin: 10px 0; }
.wpsm_promobox .rehub_main_btn { float: right; margin: 8px 0 15px 15px }
.rtl .wpsm_promobox .rehub_main_btn{float:left; margin: 8px 15px 15px 0}
.wpsm-button.medium.rehub_main_btn span.wpsm-button-inner { font-size: 18px; line-height: 18px; padding: 12px 24px; font-weight: bold }
.wpsm-button span.wpsm-button-inner { display: block; }
.wpsm_vca.vc_call_to_action hgroup h2, .vc_cta3 h2{ font-size: 24px; line-height:24px; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; position: relative;color: inherit;}
.wpsm_vca.vc_call_to_action hgroup h4, .vc_cta3 h4{ font-size: 18px; line-height:18px; font-weight: 700; text-transform: uppercase; color: inherit; margin-bottom: 15px;}
.wpsm_vca{color: #fff}
.wpsm_vca .vc_button-2-wrapper{ display: block;}
@media only screen and (max-width: 479px) {
.wpsm_promobox .rehub_main_btn { float: none; margin: 0 0 10px 0; position: absolute; left: 25px; bottom: 15px }
.rtl .wpsm_promobox .rehub_main_btn{left:auto; right: 25px}
.wpsm_promobox { padding: 15px 25px 70px 25px }
}