/***************************************

	Theme Name: Rehub theme
	Theme URI: https://themeforest.net/item/rehub-directory-multi-vendor-shop-coupon-affiliate-theme/7646339
	Description: A Hybrid magazine/shop/review/news Wordpress Theme
	Author: Sizam
	Author URI: https://wpsoul.com/
	Version: 15.0	
	Tags: two-columns, fluid-layout, custom-background, threaded-comments, translation-ready, custom-menu
	License: 
	License URI:
	Text Domain: rehub-theme

***************************************/


body { direction: rtl; unicode-bidi: embed; }
.rtl .woocommerce #reviews .star-rating{margin: 0 0 0 5px}
.news .detail .not_masked_coupon, #slide-menu-mobile ul li.menu-item > a{float: right;}
#slide-menu-mobile ul span.submenu-toggle .rhi-angle-right:before{content: "\f104"}
nav.top_menu ul li i, #slide-menu-mobile ul li.menu-item > a i{margin: 0 0 0 5px}
.woocommerce div.product .summary form.cart .variations select{margin: 0 0 0 15px; float: right;}
.header_icons_menu #dl-menu a.logo_image_mobile img{left: auto; right: 55px}
.rh_bp_notice_profile{right: -10px; left: auto;}
.header-actions-logo{float: left;}
.rh_woocartmenu_cell{border: none;}
.user-ava-intop:after, .re-compare-panel-collapse:after{padding-right: 4px}
.rtl #re_menu_near_logo li i, .rtl .widget .title i{margin: 0 0 0 6px}
#subscription-toggle a:before, #favorite-toggle a:before{float: right;margin: 2px 0 0 7px;}
.rtl .header-top .top-nav { float: right; }
.rtl .header-top .top-nav li { padding-right: 13px; padding-left: 0px; border-left: 0; border-right: 1px solid #666666; margin: 0px 0px 10px 13px; float: right; }
.rtl .header-top .top-nav ul { margin: 9px 15px 0 0px; }
.rtl .header-top .top-nav li:first-child { margin-right: 0px; border-right: 0px; padding-right: 0px; padding-left: 13px; }
.rtl .header-top .top-social { float: left; text-align: left; padding-left: 3px; padding-right: 0px; }
.rtl .top-nav > ul > li.hovered ul.sub-menu{right: 0; left: auto;}
@media (min-width:1024px) {header .logo { float: right; margin-left: 15px; margin-right: 0px; }}
header .mediad { float: left;  }
.top-search-onclick, .rate_bar_wrap .your_total_score .user_reviews_view_score { float: left; }
.header_top_wrap .icon-in-header-small { float: left; }
header .search { float: left; }
nav.top_menu ul li.rehub-custom-menu-item{ float: left; }
nav.top_menu > ul > li:first-child{ border-right: none; }
nav.top_menu ul.menu > li.menu-item-has-children > a:before { margin: 3px 7px 0px 0px; float: left; }
nav.top_menu ul li.menu-item-has-children ul li.menu-item-has-children > a:before { content: "\f104"; float: left; padding-right: 8px; padding-left: 0px; }
nav.top_menu ul li ul li ul { right: 100%; left: inherit; }
nav.top_menu > ul > li > ul > li:first-child > a:after {right: 19px;}
nav.top_menu ul.sub-menu, .top-nav ul.sub-menu{right: -999999px; left: auto;}
nav.top_menu > ul > li.hovered > .sub-menu{left: auto; right: 0}
nav.top_menu > ul > li > ul.sub-menu > li.hovered > ul.sub-menu{left: auto; right: 100%}
.home nav.top_menu > ul > li.vertical-menu.vmenu-opened > .sub-menu{left: auto; right: 0}
.re-search-result-thumb{ float: right; }
.re-search-result-info{float: left;}
.rtl .custom_search_box input[type="text"] { padding:0 40px 0 55px; }
.rtl .custom_search_box i.inside-search{ left: auto; right: 16px;    transform: rotate(180deg); }
.rtl .custom_search_box button[type="submit"] { right: auto; left: 3px }
.rtl .custom_search_box.flat_style_form button[type="submit"]{right: auto; left: 0}
.rtl .custom_search_box.flat_style_form input[type="text"] {padding:0 20px 0 130px; }
.re-search-result-div{text-align: right;}
form.search-form [type="submit"]{ left:0; right: auto;}
form.search-form input[type="text"]{padding: 2px 12px 2px 45px; }
.litesearchstyle form.search-form input[type="text"]{padding: 2px 12px 2px 37px;}
.rtl .product-search-form .nice-select{border-width: 1px 1px 1px 0;}
.rtl form.search-form.product-search-form input[type="text"] {padding-right: 12px; padding-left: 12px;border-left: none; border-right: 1px solid #e1e1e1}
.rhgreedylinks{-ms-justify-content: flex-end; -webkit-justify-content: flex-end;justify-content: flex-end;}
.text-right-align{ text-align: left;}
.wpsm-one-half, .wpsm-one-third, .wpsm-two-third, .wpsm-three-fourth, .wpsm-one-fourth, .wpsm-one-fifth, .wpsm-two-fifth, .wpsm-three-fifth, .wpsm-four-fifth, .wpsm-one-sixth, .wpsm-five-sixth{float:right; margin-right:0; margin-left:4%}
.wpsm-column-last, .wpsm-one-half:last-of-type, .wpsm-one-third:last-of-type, .wpsm-one-fourth:last-of-type, .wpsm-one-fifth:last-of-type, .wpsm-one-sixth:last-of-type  { margin-left: 0!important; clear: left; }
.rtl .re_filter_panel .re_tax_dropdown{left:0; right: auto;}
.rh_reviewlist figure{margin-left:30px; margin-right: 0}
ul.list-unstyled.list-line-style li{margin: 0 0 5px 10px;}
.rh-flex-right-align{margin-right: auto; margin-left: 0}
.woocommerce table.shop_attributes th{text-align: left;}
.rh-heading-icon:before{margin-left: 15px; margin-right: 15px}
.woocommerce .floatright .rh_woo_star{float: left;}
.featured_newscom_left{margin: 0 0 20px 20px}
.hotmeter .hotplus{    border-radius: 10px 0px 0px 10px;}
.hotmeter .hotminus{border-radius: 0px 10px 10px 0px;}
.rtl .rh_woocartmenu-amount{margin-left: 0; margin-right: 18px}
.favorrightside .heart_thumb_wrap{right: auto;left: 3px}
.woo_offer_list .button_action, .rehub_woo_review_tabs .button_action{right: auto;left: 6px}
.rh_actions_padd .woolist_meta{padding-right: 0; padding-left: 60px}
.rh-expired-notice{float: right; margin-left: 7px; margin-right: 0}
.rtltext-left-align{ text-align: left;}
.rtl #section-additional_information .rh-woo-section-title h2:before{margin-left: 15px; margin-right: 0}
.rtl .woocommerce form .form-row label.inline {float: left;}.rtl.woocommerce div.product .summary .price ins{float: right; margin-left: 6px}
.rtltext-right-align{text-align: right;}
.rtl .rh_woocartmenu_cell .widget_shopping_cart{right: auto;left: 12px; text-align: right;}
.rtl .widget_shopping_cart .remove{float: left;}
.rtl .widget_layered_nav ul li a:before, .rtl .widget_layered_nav_filters ul li a:before{margin-right: 0; margin-left: .618em}
.rtl .woocommerce p.stars span{float: right;}
.post-meta-big span.postview_meta{float: right;}
.thumbscount{direction:ltr}
.rtl #toplistmenu > ul li:before{float: right;}
.re-user-popup-wrap .wpsm-button.loading:after{left: auto; right: 100%; margin-right:20px;}
nav.top_menu > ul > li.floatright{margin-right: auto; margin-left: 0}
nav.top_menu ul.menu:not(.off-canvas) > li.menu-item-has-children > a:before, .rtl .header-top .top-nav > ul > li.menu-item-has-children > a:before {margin: 0 7px 0 0;float: left;}
@media (max-width: 1023px){#rh-bp-profile-stats {text-align: right;}}
@media (min-width: 1024px){.rtl #wcvendor_search_shops{float: left;}.rtl .wcvendor_profile_menu_items{float: right; margin-left: 0; margin-right: 170px}}
nav.top_menu>ul>li.vertical-menu>ul>li>.sub-menu{border-right: none; border-left: 2px solid transparent}
#main_header .rh_woocartmenu_cell .widget_shopping_cart{left: 12px; right: auto;}
.rh_woocartmenu_cell .widget_shopping_cart:after{left: 19px; right: auto;}
.offsetnav-overlay{right: 270px; left:0;}
#slide-menu-mobile ul.off-canvas, #slide-menu-mobile ul ul.sub-menu{right: 0; left:auto;transform: translateX(100%);}
#slide-menu-mobile ul.off-canvas-active, #slide-menu-mobile ul ul.sub-menu.sub-menu-active{transform: translateX(0);}
.woocommerce-product-gallery figure{float: left;}
.post-meta-big span.postview_meta {float: right;}
ul.page-numbers li{float:right;}
.rtl.woocommerce .rh_woo_star .halfactive{background:linear-gradient(to left, #ff8a00 0%, #ff8a00 50%,  #e0dadf 51%, #e0dadf 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.rtl.woocommerce .entry-summary .rh_woo_star{float:right;}
.rtl .calcposright{left: calc((100% - 1200px)/2);right:auto;}
@media screen and (max-width: 1279px) and (min-width: 1141px){
	.calcposright{left: calc((100% - 1080px)/2);right:auto;}
}
@media (max-width: 1140px) and (min-width: 1024px){
	.calcposright{left: calc((100% - 980px)/2);right:auto;}
}
.rtl .vendor_store_details_single{padding-left:10px;}
a.expand { margin-right: 0px; margin-left: 5px }
.news-community .priced_block .rh_price_wrapper {float: none; }

.small_post:hover .priced_block .btn_offer_block, .news:hover .priced_block .btn_offer_block{padding: 0.5em 0.6em 0.5em 0.5em;}
.priced_block .btn_offer_block:after { display: none; }
.cats_def a { margin-right: 0px; margin-left: 4px; }
.post-meta span {display: inline-block; margin-right: 0; margin-left: 0;}
.sticky h2 i, .news .detail h4 i { margin-right: 0px; margin-left: 6px }
.grid_onsale{left: 3px; right: auto}
.side-twocol { float: left; }
.main-side { float: right; }
.news_out_tabs > ul > li { float: right; margin-right: 0%; margin-left: 8px; }
.scroller { float: right;  }
.scroller.up:before {content: "\f104"; }
.scroller.down:before { content: "\f105"; }
.top_theme h5 { float: right; }
.top_theme h5 strong { float: right; margin-right: 0px; margin-left: 8px; }
.sidebar { float: left; }
.featured_slider .score { right: 50%; left: inherit; margin: -40px -40px 0px 0px; }
.featured_slider .reviews { left: 0px; right: inherit }
.featured_slider .flex-control-nav { left: 0px; right: inherit; text-align: left; }
.widget_nav_menu ul.sub-menu li, .widget_product_categories ul.children li { padding-left: 0px; padding-right: 12px; }
.author-avatar img { float: right; margin: 0px 0px 5px 10px; }
.widget_rss cite { font-style: normal; }
.widget_categories  .screen-reader-text { padding-right: 0px; padding-left: 10px; }
#wp-calendar caption { text-align: left; }
#wp-calendar tfoot #next { text-align: left; }
.tagcloud a { float: right; margin: 0px 0px 2px 2px; }
.rtl .sidebar .widget.top_offers .title:before, .rtl .sidebar .widget.cegg_widget_products .title:before{ padding-right: 10px; padding-left: 10px; }
.rtl .widget.top_offers .title:after, .rtl .widget.cegg_widget_products .title:after { right: 50%; left: inherit; margin-left: 0px; margin-right: -8px;}
.wpcf7 input, .wpcf7 textarea { margin: 4px 0px 12px 10px; }
.rehub_chimp #mc_embed_signup input.email { padding-left: 0px; padding-right: 15px; }
.rehub_chimp #mc_embed_signup input#mc-embedded-subscribe { left: 0; right: inherit; border-top-right-radius: 0px;border-bottom-right-radius: 0px; border-top-left-radius: 5px;border-bottom-left-radius: 5px; }
.footer-bottom .footer_widget .widget_categories ul li, .footer-bottom .footer_widget .widget_archive ul li, .footer-bottom .footer_widget .widget_nav_menu ul li { padding-left: 0px; padding-right: 12px; }
.widget.better_menu li:before, .footer-bottom .footer_widget .widget_categories ul li:before, .footer-bottom .footer_widget .widget_archive ul li:before, .footer-bottom .footer_widget .widget_nav_menu ul li:before{ right: 0; left: inherit; }
.footer-bottom .footer_widget .woocommerce ul li { padding-right: 0 }
footer#theme_footer .left { float: right; }
footer#theme_footer .right { float: left; text-align: left; }
.social_icon a { margin-right: 0px; margin-left: 2px;}
.social_icon.small_i a { margin-right: 0px; margin-left: 2px; }
.small_post { float: right; }
.small_post .overlay { right: 0px; left: inherit; }
ul.postpagination { margin-left: 0px; margin-right: -5px }
ul.postpagination li { float: right; margin-left: 0px; margin-right: 5px; }
.single .tags p .tags-title-post, .single .tags p a{margin: 0 0 0 4px}
.favour_in_row{ margin: 0 0 6px 6px}
.post .android.red-rbn { padding: 0px 10px 6px 19px; }
.post li { margin: 0px 15px 5px 0px; }
.post ol, .post ul { margin: 0px 5px 15px 0px }
.share-buttons ul {float:right}
.gallery_top_slider .flex-control-thumbs li { float: right; margin: 0.9125% 0 0 0.9125%; }
.gallery_top_slider .flex-control-thumbs li:nth-child(9) { margin-right: inherit;  margin-left: 0; }
.blog_string_holder .top{float: left; margin: 0 10px 10px 0 }
.rank_count { left: inherit; right: 0; margin: -20px -37px 0 0;}
.top_rating_item figure { margin: 0 10px 0 0; }
.single .rh-star-ajax { float: left; }
.single .rh-star-ajax.left { float: right }
.rating_bar .rh-star-ajax .title_star-ajax { float: right; }
.rating_bar .rh-star-ajax { text-align: left; }
#topcontrol { right: inherit; left: 10px;border-radius: 0 5px 5px 0;}
ul.postspermonth { border-left: 0; border-right: 2px solid #DFDFE0; margin: 0 35px 30px 0; }
.rtl .commentlist ul.children { margin-left: 0px; padding-left: 0px; margin-right: 23px; padding-right: 23px; }
.rtl .commentlist ul.children .commbox:before { left: initial; right: -24px; }
.rtl .commentlist .comment-author img { float: right; margin-right: 0px; margin-left: 20px; }
.rtl .commentlist .comment-author a div.comment-link { margin-left: 0px; margin-right: -10px; }
.rtl .comment-reply-link, .rtl .comment-reply-login { float: left; }
.rtl .comment-reply-link:before, .rtl .comment-reply-login:before { padding-right: 0px; padding-left: 2px }
.rtl .comment-edit-link { float: left; margin-left: 0px; margin-right: 8px;}
.rtl .comment-respond .usr_re input, .rtl .comment-respond .email_re input, .rtl .comment-respond .site_re input { padding: 0 50px 0 0; float: right; }
.rtl .comment-respond .usr_re, .rtl .comment-respond .email_re, .rtl .comment-respond .site_re{ float: inline-start; margin-right: 0; margin-left: 2% }
.rtl .comment-respond .end { margin-right: inherit !important; margin-left: 0px !important; }
.rtl .comment-respond .usr_re:after, .rtl .comment-respond .email_re:after, .rtl .comment-respond .site_re:after{ left: auto; right: 0 }
.rtl #rehub-comments-tabs .add_user_review_link{ float: left; margin: 5px 20px 10px 0px;}
.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text{margin: 0 95px 0 0}
.video-container iframe{ left: inherit; right: 0 }
.rh_video_playlist_column_full .rh_wrapper_video_playlist .rh_container_video_playlist{right:auto; left:0}
.rh_wrapper_video_playlist .rh_container_video_playlist .rh_video_title_and_time{margin: 0 130px 0 30px}
.rh_wrapper_video_playlist .rh_video_thumb, .rh_wrapper_video_playlist .rh_video_stop_play_control{margin-left: 0; margin-right:10px}
.gallery-pics .gp-overlay { left: initial; right: 0 }
.gallery-pics .gp-overlay a { margin: -20px -20px 0 0; background-position: -43px -101px; }
.re_carousel .preview { float: right; }
.views-in-carosel { left: inherit; right: 15px }
.header-top a.cart-contents { margin-right: 0px; margin-left: 8px; }
blockquote.wpsm-quote cite { float: left; }
.rtl article.post .wpsm_toplist_heading:before{ float: right; margin: -8px 0 10px 15px; }
.rtl #toplistmenu ul li{ padding: 15px 5px 15px 15px; }
.rtl #toplistmenu > ul li:before { float:right; margin: -3px 15px 20px 20px; }
.re-line-badge span:before{margin-right: 0;margin-left: 4px;}
.user-rate { float: left; }
.rate-bar-title { left: auto; right: 0 }
.rate-bar-percent { right: auto; left: 0 }
.review-top .overall-score { float: right; margin: 0px 0px 10px 20px; }
span.stars-rate span { float: right; }
.star-small span.stars-rate span { float: left; }
.rehub_offer_coupon.masked_coupon i.rhicon{ padding-left: 0px; padding-right: 6px; }
.rehub_offer_coupon i.rhicon{ right: auto; left: -12px; transform: rotate(0deg) !important; }
.rehub_offer_coupon i.rhi-check-square{ right: auto; left: -7px }
.rehub_woo_review_tabs.pretty_woo { margin: 0 0 5px 5px; }
.aff_offer_links_heading { padding: 10px 5px 10px 10px; }
.eq_grid .sale_a_proc { right: auto; left: 10px;}
.btn_offer_block .mtinside { text-align: left; right: auto; left: 3px }
.product_egg .btn_offer_block .mtinside, .product_egg_extra .btn_offer_block .mtinside {right: 3px;left: auto;}

/**WOO VC BLOCKS **/
.woocommerce .sale_tag{ right: auto; left: 10px }
.rtl.woocommerce div.product .summary div.yith-wcwl-add-to-wishlist{margin: 0 0 0 10px}
.shop_in_cpn img{margin-right: 0; margin-left: 5px}
.thumbminus{ margin: 0 0 0 8px;}
.post_thumbs_comm span:before{display: none;}
.post_thumbs_comm span:after {
    font-family: rhicons;
    content: "\f27a";
    margin-left: 5px;
}
@media screen and (max-width: 1023px) and (min-width: 768px){	

}
.dl-menuwrapper li a { padding: 15px 20px 15px 25px; }
.dl-menuwrapper li.dl-back > a { padding-left: 0px; padding-right: 30px }
.dl-menuwrapper li.dl-back:after { left: auto; right: 10px }
.dl-menuwrapper li > a:after { right: auto; left: 15px }
.dl-menuwrapper > .dl-submenu { left: auto; right: 0 }
#mobile-menu-icons{padding-left: 7px}
.radial-progress .inset { margin-left: 0px; margin-right: 5px }
.review_big_circle .radial-progress .inset{margin-right: 10px}
.radial-progress .inset .percentage { left: auto; right: 2.5px }
.rtl .user_rating_left_com span{ text-align: left; float: left }
.rtl #user_reviews_in_comment .noUi-horizontal .noUi-handle{position: absolute; left: -14px;}
.rtl #user_reviews_in_comment .noUi-handle:before, .rtl #user_reviews_in_comment .noUi-handle:after{ left: auto; right: 7px }
.rtl #user_reviews_in_comment .noUi-handle:after {left: auto; right: 10px }
.rtl .userstar-rating span{ float: right; left: inherit; right: 0 }
.rtl .userstar-rating span:before{ left: inherit; right: 0 }
.rtl .user_reviews_view_criteria_line .userstar-rating{ float: left; }
.rtl .user_reviews_view_score .userstar-rating{ float: right; }
.rtl article.post .rate_bar_wrap_two_reviews a.link_to_review{ right: inherit; left: 0 }
.rtl .rate_bar_wrap_two_reviews .l_criteria span.score_tit{ float: right; }
.rtl .rate_bar_wrap_two_reviews .l_criteria span.score_val{ text-align: left; float: left; }
.rtl .star a.add_user_review_link{ float: left; }
.rtl .rate_bar_wrap .add_user_review_link{ float: left; }
.rtl .total-score-users-head {float: right; }
.rtl .only_user_reviews .review-criteria{float: right; margin-left: 0; margin-right: 25px }
.top-social .act-rehub-login-popup{ float: left; }
.top-social .act-rehub-login-popup i{margin-right: 0px; margin-left: 3px; }
.user-dropdown-intop-menu{ left: 0; right: auto; text-align: right; }
.user-dropdown-intop-menu .menu-item i{ padding-right: 0px; padding-left: 5px }
.user-name-and-badges-intop span.userpro-badges{ text-align: right !important; }
.user-image-in-name { float: right; margin: 0 0 0 8px }
.top-social .user-dropdown-intop{float: left; }
.top_menu .user-dropdown-intop{margin: 15px 10px 15px 10px !important; float: left;}

#pgwModalBackdrop { left: initial; right: 0 }
#pgwModal .pm-content { text-align: right; }
.pgwModal .pm-close { right: auto; left: 0 }
.re_title_inmodal:after { left: 50%; margin-left: 0px; margin-right: -35px }
.col_wrap_two .col_item { float: right;}
.col_wrap_three .col_item { float: right;}
.col_wrap_fourth .col_item { float: right;}
.col_wrap_fifth .col_item { float: right;}
.col_wrap_six .col_item {float: right;}

@media (max-width: 1024px) and (min-width: 769px) {
.col_wrap_fifth .col_item, .col_wrap_six .col_item { float: right;}
}
.simplefavorites-loading {margin-left: 0px; margin-right: 8px }

.user-ava-intop:after{padding-right: 4px}
.wpsm-table table tr th, .wpsm-table table tr td{text-align: right;}
.wpsm-price .wpsm-price-column{float: right;}
.wpsm-bar-title, .vc_progress_bar .vc_single_bar .vc_bar, .wpsm-numbox span, .wpsm-numhead span{right: 0; left: auto;}
.wpsm-bar-percent{left: 10px; right: auto;}
.wpsm-numbox, .wpsm-numhead{padding: 0 60px 0 0 !important;}
.wpsm-testimonial-author img{ margin-left: 10px }

.rtl .woocommerce-message .button, .rtl .woocommerce-error .button, .rtl .woocommerce-info .button{float: left;}
.rtl .woocommerce-message:before, .rtl .woocommerce-error:before, .rtl .woocommerce-info:before{right: 1em; left: auto;}
.rtl .woocommerce-message, .rtl .woocommerce-error, .rtl .woocommerce-info{padding: 1em 3.5em 1em 1em !important}

.rh_bp_notice_profile{left: auto;right: -5px}
.user-dropdown-intop-menu .menu-item.bp-profile-menu-item a:before{margin: 0 0 0 4px}
span.date_meta:before, span.cat_link_meta:before, span.comm_count_meta:before, span.postview_meta:before, span.admin_meta:before{display: none;padding-left:5px;padding-right:0;}
span.date_meta:after, span.cat_link_meta:after, span.comm_count_meta:after, span.postview_meta:after, span.admin_meta:after{ font-size: 3px;line-height: auto; float: right;vertical-align: middle; padding-left: 5px; padding-right: 5px; content: "\f111"; font-family: rhicons; font-style: normal}
.admin_meta .admin img{vertical-align: middle; margin-left: 5px; border-radius: 50%}
span.postview_meta:after{content: "\f06e"; font-size: 12px; font-style: normal;}
span.comm_count_meta:after{content: "\f4ad"; font-size: 12px;font-style: normal;}
.post-meta span:first-child:after{display: none;}
.post-meta span{margin: 0 0 0 5px;}
.title_single_area .post-meta span {margin: 0 0 0 12px;}
.rtl.woocommerce div.product .summary form.cart div.quantity{margin: 0 0 5px 15px;float: right; }
.wpsm_spec_photosingle_line{float: right; margin: 0 0 25px 25px;}
.custom_search_box input[type="text"]{text-align: right;}
.tt-clear-search{left: 12px; right: auto;}
.rtl .re_wooinner_title .product_title{float: right; }
.rtl .re_wooinner_title .woocommerce-product-rating {float: left;margin: 10px 20px 10px 0;}
.wpsm_dropcap{float: right;margin: 0 0 0 6px;}
.floatright{float: left;}
.floatleft{float: right;}
.rtlfloatleft{float: left;}
.rtlfloatright{float: right;}
.clearboxleft{ clear: right;}.clearboxright{ clear: left;}
.summary .rh-user-favor-shop{margin: 8px}
.rtl .woo_default_no_sidebar div.summary, .rtl .woo_default_no_sidebar .re_wooinner_cta_wrapper, .rtl .woo_default_w_sidebar
div.summary{float: left;}
.rtl .woo_default_no_sidebar .woo-image-part, .rtl .woo_default_no_sidebar .re_wooinner_info, .rtl .woo_default_w_sidebar .woo-image-part{float: right;}
.rh_post_layout_default .wpsm-button-new-compare, .rh_post_layout_metabig .wpsm-button-new-compare, .rh_post_layout_compare_ce .wpsm-button-new-compare{float: left; margin: 0 15px 5px 0}
.re_filter_instore ul.re_filter_ul li:nth-child(3) span:before, .re_filter_instore ul.re_filter_ul li:nth-child(2) span:before{margin: 0 0 0 5px}
.rtl .woo-button-actions-area .heart_thumb_wrap, .rtl .woo-button-actions-area .wpsm-button.rhwoosinglecompare, .rtl .woo-button-actions-area .heartplus{float: right; margin-left: 5px; margin-right:0}
.rtl .woo-button-actions-area .wpsm-button.rhwoosinglecompare{margin-left:0}
.rtl .woo-button-actions-area .thumbscount{right: auto;left: -5px}
.float-panel-woo-info{padding-right: 20px; margin-right: 20px}
.rtl div.gmw-fl-horizontal-xprofile-big-form-wrapper .address-locator-wrapper, .rtl div.gmw-fl-horizontal-xprofile-big-form-wrapper .gmw-distance-select{margin: 0 0 0 10px}
.rtl div.gmw-fl-horizontal-xprofile-big-form-wrapper .gmw-submit-wrapper{margin: 0 10px 0 0}
.rtl.woocommerce #review_form #respond p.comment-form-rating label{float: right; margin: 0 0 0 15px}
.re-ribbon-badge.left-badge span { transform: rotate(45deg); left: 0; right: auto; } .re-ribbon-badge.left-badge { right: -8px; left: auto; text-align: left; }
.wpsm-button.small i{ padding-left: 5px; padding-right: 0 }
.wpsm-button.medium i{ padding-left: 8px; padding-right: 0}
.wpsm-button.big i{ padding-left: 10px; padding-right: 0}
.wpsm-title{text-align: right;}
.not_masked_coupon:not(.expired_coupon) {margin-left: 15px; margin-right: 0}
.inline_compact_btnblock.priced_block .rh_button_wrapper{margin-right: 15px; margin-left: 0}
.single_top_corner {padding-right: 20px; padding-left: 0}
.rh_post_layout_compact .single_top_corner .wpsm-button{float: left;}
.re-compare-notice, .rh-icon-notice{left: 12px}
.wp-block-quote.is-style-default{padding: 0 1em 0 0; border-left: none; border-right: 4px solid #000}
.prdctfltr_wc.prdctfltr_round .prdctfltr_filter label.prdctfltr_active > span:before{margin: 0 0 0 12px}
.rtl.woocommerce .woo_top_meta .rh_woo_star{float: right;}
.rhgreedylinks{-ms-justify-content: flex-start;-webkit-justify-content: flex-start;justify-content: flex-start;}
.delimiter .fa-angle-right:before{content: "\f104";}
.rtl .smart-scroll-mobile > div{margin-right: 0 !important; margin-left: 10px !important}
.wpsm_pros{padding-left: 0; padding-right: 15px}
.wpsm_pros ul li:before, .wpsm_cons ul li:before{ padding-right: 8px; padding-left: 8px;}
.re-line-badge.re-line-small-label{margin: 0 0 5px 5px;}
a.rh-cat-label-title, .rh-cat-label-title a{margin: 0 0 5px 5px;}
.rh_post_layout_default .wpsm-button {float: left;margin: 0 15px 5px 0;}
.rtl.woocommerce .re_wooinner_cta_wrapper .onsale, .rtl.woocommerce .re_wooinner_cta_wrapper .onfeatured{float: left;}
.row_social_inpost span.fb:after, .row_social_inpost span.tw:after{margin: 0 8px 0 0 }
.row_social_inpost span.share-link-image{margin: 0 0 6px 6px;}
.rh_price_holder_add_links{top: 0; right: auto; left: 0}
.rtlml5{margin-left: 5px !important;margin-right:0 !important}.rtlml10{margin-left: 10px !important;margin-right:0 !important}.rtlml15{margin-left: 15px !important;margin-right:0 !important}.rtlml20{margin-left: 20px !important;margin-right:0 !important}.rtlml25{margin-left: 25px !important;margin-right:0 !important}.rtlml30{margin-left: 30px !important;margin-right:0 !important}.rtlml35{margin-left: 35px !important;margin-right:0 !important}.rtlmr5{margin-right: 5px !important; margin-left:0 !important}.rtlmr10{margin-right: 10px !important; margin-left:0 !important}.rtlmr15{margin-right: 20px !important; margin-left:0 !important}.rtlmr20{margin-right: 20px !important; margin-left:0 !important}.rtlmr25{margin-right: 25px !important; margin-left:0 !important}.rtlmr30{margin-right: 30px !important; margin-left:0 !important}
.rtlpl5{padding-left: 5px !important}.rtlpl10{padding-left: 10px !important;padding-right:0 !important}.rtlpl15{padding-left: 15px !important;padding-right:0 !important}.rtlpl20{padding-left: 20px !important;padding-right:0 !important}.rtlpl25{padding-left: 25px !important;padding-right:0 !important}.rtlpl30{padding-left: 30px !important;padding-right:0 !important}.rtlpr5{padding-right: 5px !important; padding-left:0 !important}.rtlpr10{padding-right: 10px !important; padding-left:0 !important}.rtlpr15{padding-right: 20px !important; padding-left:0 !important}.rtlpr20{padding-right: 20px !important; padding-left:0 !important}.rtlpr25{padding-right: 25px !important; padding-left:0 !important}.rtlpr30{padding-right: 30px !important; padding-left:0 !important}
.rh-line-left {
    border-right: 1px solid #ededed; border-left: none;
}
.rtl .woocommerce table.shop_table, .rtl .woocommerce #payment ul.payment_methods li{text-align:right;}
@media (max-width: 767px) {
.rtl #rh_woo_mbl_sidebar .sidebar{left:100%; right:auto}
.rtl #rh_woo_mbl_sidebar.activeslide .sidebar{transform: translate3d(-100%,0,0);-webkit-transform: translate3d(-100%,0,0);}
.rtl .mobile_compact_list .featured_newscom_left{float: right; margin: 0 0 8px 20px}
.rtl .mobile_compact_list .newscom_detail{ float: right;}
.mobile_block_btnclock.priced_block .rh_button_wrapper, .mobile_block_btnclock.priced_block .rh_price_wrapper{display: block; float: none;margin: 0 0 10px 0;}
.rtl table.shop_table_responsive td:not([colspan]){padding-right: 53% !important; padding-left: 15px !important; text-align: left;}
.rtl table.shop_table_responsive td:not([colspan]):before{text-align: right; right: 9px; left: auto;}
.rtl table.shop_table_responsive td.product-thumbnail{padding: 12px !important; text-align: center;}
.rtl table.shop_table_responsive td.product-remove{padding: 5px 0 0 0 !important; text-align: center;}
.rtl .woocommerce table.shop_table_responsive input.qty{float: left; padding: 0 13px 0 0;}
}
@media (max-width: 1023px){
.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label, .tablesaw-cell-content {
    float: right !important;
    text-align: right !important;
}
}